

.guess-label{
    color: #646cff;
}

.digits{
 
   
    .inputDigits{
        position: relative;
        top: 10rem;
        z-index: -5;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 150px;
        font-size: 5rem;
    
        .single_char {
                margin: 0 40px;
                padding : 0 10px;
                height: 50px;
                border-bottom: 1px solid white;
            }

    }
    .hint {
         color: rgba(245, 245, 245, 0.2);
    }
    
    .nothint {
        color: whitesmoke;
    }
    
    

    input{
        background-color: transparent;
        max-width: 480px;
        height: 150px;
        letter-spacing: 6.3rem;
        padding-left: 1rem;
        font-size: 5rem;
        border: none;
        // border-bottom: 1px solid white;
        outline: none;
        color: transparent;
        caret-color: white;
    }
}


.check-button{
    margin: 0 2rem;

        &:focus {            
            outline: none ;
        }

        &:hover:not([disabled]){
            background-color: rgba(255, 255, 255, 0.142);

        }
 
    }

.wrong{
    color: rgba(255, 0, 0, 0.5);
    transform: rotate(0deg);
    animation: rotate-error  0.2s;
}

.correct{
    color: rgba(0, 128, 0, 0.5);
}



@keyframes rotate-error {
    0% {
        transform: rotate(0deg)  ;
    }

    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0) ;
    }
}
